*, *::before, *::after { box-sizing: border-box; padding: 0; margin: 0;}
@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

:root {
    --dark-green: #CCD5AE;
    --light-green: #E9EDC9;
    --light-brown: #FEFAE0;
    --medium-brown: #FAEDCD;
    --orange: #D4A373;
    font-family: 'Merriweather', serif;
}

h1 {
    margin: 0;
    font-size: 6rem;
}

h2 {
    font-size: 3rem;
}

body {
    position: relative;
    display: flex;
}

header {
    grid-column: 1 / 3;
    background-color: var(--dark-green);
   
    
}

.main-grid-container {
    position: relative;
    flex: 1;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 10fr;
}


/* left */

.left-container {
    position: relative;
    background-color: var(--light-green);
    grid-column: 1;
    text-align: left;
    padding: 0rem 1rem;
    color: var(--dark-green);
}

.sticky {
    position: sticky;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 4rem;
    top: 0;
}


.addcard-form {
    font-size: 2rem;
    margin-top: 2rem;
    margin-bottom: 15rem;
}

.addcard-form input {
    border: 0.2rem var(--dark-green) solid;
    background-color: transparent;
    color: var(--dark-green);
    margin-bottom: 1rem;
    border-radius: 1rem;
}

input:focus {
    border: 0.2rem white solid;
    outline: none;
}

.menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.btn{
    background-color: transparent;
    border: none;
    border-radius: 1rem;
    color: var(--dark-green);
}

.btn:hover {
    color: white;
}

.addcard-form {
    height: 4rem;
}

/* right */


.right-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: var(--medium-brown);
    background-color: var(--light-brown);
    
}


.bookshelf-grid {
    height: 80%;
    width: 100%;
    background-color: var(--medium-brown);
    flex: 1;
    display: grid;
    grid-template-columns: repeat(auto-fit , minmax(240px, 1fr));
    padding: 2rem;
}

.book-card {
    position: relative;
    transition: all .2s ease-in-out;
    background-color: #D4A373;
    font-weight: bold;
    border-right: white 1rem solid;
    border-bottom: white 0.5rem solid;
    border-radius: 1rem 0 0 0;
    color: white;
    height: 15rem;
    width: 15rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    box-shadow: 8px 8px 5px -8px black;
}

.btn-deletebook {
    background-color: red;
    color: black;
    font-size: 1.5rem;
    font-weight: bold;
    display: none;
    position: absolute;
    top: -1rem;
    left: -1rem;
    border: none;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
}

.btn-deletebook-hover {
    border: 0.1rem solid black;
    display: block;
    transition: all .2s ease-in-out;
}

.btn-read {
    background-color: black;
    border: 0.1rem solid black;
    color: white;
}

.btn-read:hover{
    background-color: white;
    color: black;
}

.book-card:hover {
    transform: scale(1.1);
}

.card-author {
    font-size: 1.5rem;
}

.card-bookname {
    font-size: 2rem;
    flex: 1;
}

.card-bottom {
    display: flex;
    justify-content: space-between;
}

